body {
  background-image: url("img/img2.jpg");
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 40px;
}

.topic{
  color:aliceblue;
  margin-top: 90px;
  padding: 20px;
  text-align: center;
}

.heading{
  padding: 20px;
  color:lightyellow;
  font-size: 150px;
}

.tag-line{
  color:lightyellow;
  margin-top: -25px;
}

.homepage-container{
    display: flex;
    justify-content: space-between;
}

.start-button{
  text-decoration: none;
}

.desc{
  color: yellow;
  width: 30%;
  margin-top: 300px;
  margin-right: 100px;
  /* font-size: 150px; */
}
.desc p{
  font-size: 25px;
}
#ta {
  position: absolute;
  height: 340px;
  width: 50%;  
  margin: auto;
  margin-top: 110px;
  margin-bottom: 60px;
  background-color: lightsalmon;
  border-radius: 10px;
  filter: blur(3px);
  opacity: 80%;
  overflow:hidden;
  box-shadow: 0 0 7rem 0 rgba(0,0,0,.2);
  left: 23%;
  right: 23%;
}
#ta1 {
  position: relative;
  margin-top: 130px;
  margin-bottom: 60px;
  background-color: transparent;
  border-color: transparent;
  padding: 5px;
  color: black;
  /* border-radius: 10px; */
  
}
#ta1:focus {
  position: relative;
  margin-top: 130px;
  margin-bottom: 60px;
  background-color: transparent;
  border-color: transparent;
  padding: 5px;
  color: black;
  outline: none !important;
}
#x{
  align-items: center;
}
